/* #4527a0 */
form{
    width: 100%;
    height: 100%;
    padding: 50px;
    max-width: 850px;
    position: relative;
    border-radius: 15px;
    background-color: #f0eff5;
    box-shadow: 0px 0px 5px 3px #6443c9de;
}

#info-cpf-popup{
    z-index: 1;
    position: absolute;
    right: 45px;
    width: auto;
    margin: 16px;
    height: auto;
    display: none;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius: 15px;
    background-color: #f0eff5;;
}

#invalid-cpf-popup p {
    color: #4527a0;
}

input{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

h1{
    color: #4527a0;
    margin: 15px 0px;
    font: 700 40px Roboto, sans-serif;
}

p{ margin: 5px 0px; }

select{
    width: 25%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.align-form{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.align-form form input[name="DD"]{ width: 12%; }

.align-form form input[name="Phone"]{
    width: 100%;
    /* margin: 5px 0px 0px 5px; */
}

form input[name="Address"]{
    margin: 5px 5px 0px 0px;
}


.align-form form input[type="date"]{ padding: 5px 20px; }

.align-form form input[name="ZipCode"]{
    width: 50%;
    margin: 5px 0px 0px 5px;
}

/* .container-endereco1 input[name="Address"]{ margin: 0px 0px 0px 0px; } */

.align-form form input[type="submit"]{
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 25px 0px 0px 0px;
    background-color: #4527a0;
    transition: background-color 0.3s;
}

.align-form form input[type="submit"]:hover{
    cursor: pointer; 
    background-color: #542dc7; 
}

.btn-reset button{
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0px;
    padding: 0px;
    background: none;
    transition: transform 0.6s;
}

.btn-reset button:hover{ 
    cursor: pointer;
}

.btn-reset button img{ 
    width: 25px;
    height: 25px;
}

.container-phoneinfo,
.container-gender,
.container-address1,
.container-address2{ display: inline-flex; width: 100%; }

@media (max-width: 500px){ 
    input[name="DD"]{ width: 100% !important; }
    input[name="Phone"]{ width: 100%; }
    select{ width: 40%; padding: 15px;}
    .align-form form input[type="date"]{ width: 100%; }
    .container-address1, 
    .container-address2{ display: block; }
    input[name="StreertNumber"], 
    input[name="ZipCode"]{ 
        float: right; 
        width: 100% !important;  
    }
    input[name="Neighborhood"]{ margin: 10px 0px 5px 0px; }
 }


 @media (max-width: 700px){ 
    input[name="DD"]{ width: 22% !important; }
    select{ width: 40%; padding: 15px;}
    .container-address1, 
    .container-address2{ display: block; }
    input[name="StreetNumber"], 
    input[name="ZipCode"]{ 
        float: right; 
        width: 100% !important;  
    }
    input[name="Neighborhood"]{ margin: 10px 0px 5px 0px; }
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=Phone] { -moz-appearance: textfield; }